openapi: 3.0.0
info:
  title: GYRA+ API - MCP Server
  description: API da Gyra+ para analise de credito. Spec curada para uso com agentes AI via MCP.
  version: '1.0'
  contact: {}
servers:
  - url: 'https://gyra-core.gyramais.com.br'
    description: Producao
paths:
  /auth/authenticate:
    post:
      operationId: AuthController_generateAccessToken
      parameters:
        - name: gyra-client-secret
          in: header
          description: 'Client Secret da integracao. Obtido no painel Toolbox em Configuracoes > Integracao.'
          schema:
            type: string
        - name: gyra-client-id
          in: header
          description: 'Client ID da integracao. Obtido no painel Toolbox em Configuracoes > Integracao.'
          schema:
            type: string
      responses:
        '200':
          description: Objeto com accessToken (JWT) e expiresIn (tempo em segundos).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  accessToken:
                    type: string
                    description: 'JWT. Vai no header Authorization como `Bearer <token>`.'
                  expiresAt:
                    type: string
                    format: date-time
                    description: Validade de 24 horas. Renove antes de expirar.
                  userId:
                    type: string
                  organizationId:
                    type: string
                  loggedOutAt:
                    type: string
                    nullable: true
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
              example:
                id: 6612a7f3a1b2c3d400000000
                createdAt: '2026-07-31T13:40:02.118Z'
                updatedAt: '2026-07-31T13:40:02.118Z'
                expiresAt: '2026-08-01T13:40:02.114Z'
                accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                userId: 6612a7f3b4c5d6e700000000
                loggedOutAt: null
                organizationId: 6612a7f30000000000000001
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - auth
      summary: Gerar token de acesso JWT
      description: |
          Autentica via client credentials (client-id e client-secret) e retorna um JWT.
          
          Este e o primeiro passo para usar a API. O token retornado deve ser enviado
          no header Authorization de todas as requisicoes subsequentes.
          
          NOTA: No MCP server, a autenticacao e automatica, e este tool e exposto apenas
          para uso manual ou debug. O server gerencia o token internamente.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/auth/authenticate' \
                --header 'gyra-client-id: SEU_CLIENT_ID' \
                --header 'gyra-client-secret: SEU_CLIENT_SECRET'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/auth/authenticate", {
                method: "POST",
                headers: {
                  "gyra-client-id": process.env.GYRA_CLIENT_ID,
                  "gyra-client-secret": process.env.GYRA_CLIENT_SECRET,
                },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/auth/authenticate",
                  headers={
                      "gyra-client-id": client_id,
                      "gyra-client-secret": client_secret,
                  },
              )
              
              dados = resposta.json()
  /webhook:
    post:
      operationId: WebhookController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookDto'
            example:
              type: REPORT_FINISHED
              url: 'https://api.suaempresa.com/gyra/webhook'
      responses:
        '200':
          description: 'Webhook criado com id, type, url e organizationId.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  url:
                    type: string
                  apiKey:
                    type: string
                    nullable: true
                  organizationId:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
              example:
                id: 6612a7f344eb43f000000000
                createdAt: '2026-07-31T13:40:02.118Z'
                updatedAt: '2026-07-31T13:40:02.118Z'
                organizationId: 6612a7f3fa9e086b00000000
                type: REPORT_FINISHED
                url: 'https://api.suaempresa.com/gyra/webhook'
                apiKey: null
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - webhook
      summary: Criar webhook para notificacoes
      description: |
          Registra uma URL de webhook para receber notificacoes em tempo real.
          
          Tipos de webhook disponiveis:
          - REPORT: notificado quando um relatorio muda de status (PENDING → APPROVED/DENIED/ALERT)
          - REPORT_FINISHED: notificado quando o processamento do relatorio finaliza
          - REPORT_STATUS: notificado em cada mudanca de status intermediaria
          - CREDIT_POLICY: notificado quando a politica de credito e avaliada
          - OPTIN: notificado quando um opt-in e processado
          
          O webhook recebe um POST na URL configurada com o payload do evento.
          Se apiKey for informada, sera enviada no header api-key da requisicao.
          
          RECOMENDADO: Sempre configure um webhook ao criar relatorios. Evita
          a necessidade de polling com get_report.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/webhook' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"type":"REPORT_FINISHED","url":"https://api.suaempresa.com/gyra/webhook"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/webhook", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "type": "REPORT_FINISHED",
                  "url": "https://api.suaempresa.com/gyra/webhook"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/webhook",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "type": "REPORT_FINISHED",
                      "url": "https://api.suaempresa.com/gyra/webhook"
                  },
              )
              
              dados = resposta.json()
  /webhook/findBy:
    get:
      operationId: WebhookController_find
      parameters:
        - name: webhookId
          required: false
          in: query
          description: 'ID do webhook especifico (opcional). Sem este parametro, retorna todos.'
          schema:
            example: 664b63037707171ba58cf311
            type: string
      responses:
        '200':
          description: 'Webhook(s) com id, type, url, apiKey e organizationId.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  description: Um webhook de relatorio e credito.
              example:
                - id: 6612a7f344eb43f000000000
                  createdAt: '2026-06-18T23:48:24.706Z'
                  updatedAt: '2026-06-18T23:48:24.706Z'
                  organizationId: 6612a7f3fa9e086b00000000
                  type: REPORT_FINISHED
                  url: 'https://api.suaempresa.com/gyra/webhook'
                  apiKey: null
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - webhook
      summary: Consultar webhooks cadastrados
      description: |
          Busca webhooks cadastrados na organizacao.
          
          Se webhookId for informado, retorna o webhook especifico.
          Caso contrario, retorna todos os webhooks da organizacao autenticada.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/webhook/findBy' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/webhook/findBy", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/webhook/findBy",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /webhook/{id}:
    delete:
      operationId: WebhookController_delete
      parameters:
        - name: id
          required: true
          in: path
          description: ID do webhook a remover.
          schema:
            example: 664b63037707171ba58cf311
            type: string
      responses:
        '200':
          description: Confirmacao de remocao.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: 6612a7f344eb43f000000000
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '404':
          description: 'Recurso inexistente OU capacidade nao liberada para a organizacao. As duas coisas respondem 404 de proposito: para quem nao tem o modulo, a rota nao existe.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 404
                message: Cadastro não encontrado.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - webhook
      summary: Deletar webhook
      description: Remove um webhook cadastrado. A URL deixa de receber notificacoes imediatamente.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request DELETE 'https://gyra-core.gyramais.com.br/webhook/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/webhook/6612a7f30000000000000001", {
                method: "DELETE",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.delete(
                  "https://gyra-core.gyramais.com.br/webhook/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/section/{id}:
    get:
      operationId: SectionController_get
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: 'ID da secao (ObjectId). Disponivel no array sections[] do relatorio.'
      responses:
        '200':
          description: 'Secao completa com dados detalhados, status de finalizacao e metadados.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: A secao por id. Mesma forma da consulta por tipo.
              example:
                id: 6612a7f3dc5b830500000000
                type:
                  id: 6612a7f3ae223a4700000000
                  value: PROTESTS
                sectionDetails:
                  - values:
                      bureau:
                        protestsQuantity: 15
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar secao por ID
      description: |
          Retorna os dados detalhados de uma secao especifica de um relatorio.
          
          Cada relatorio e composto por varias secoes que contem dados de diferentes fontes:
          - Informacoes basicas (CNPJ/CPF, endereco, socios, QSA)
          - Processos judiciais
          - Protestos em cartorio
          - Dividas Pefin/Refin
          - Dados SCR / Open Finance (Banco Central)
          - PEP e sancoes internacionais
          - Resultado da politica de credito
          
          Use get_report para obter a lista de secoes e seus IDs.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/section/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/section/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/section/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report:
    post:
      operationId: ReportController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportDto'
            example:
              policyId: 6612a7f3625ea4ab00000000
              document: 11.444.777/0001-61
              type: cnpj
      responses:
        '200':
          description: 'Objeto do relatorio com id, status (PENDING), document, type e createdAt.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio recem-criado (API v1).
              example:
                id: 6612a7f3a19b467000000000
                document: '43591367000130'
                organizationId: 6612a7f3fa9e086b00000000
                status:
                  id: 6612a7f33fdd7d9400000000
                  value: PENDING
                createdAt: '2026-07-31T13:42:37.059Z'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Criar relatorio (padrao de integracao com webhook)
      description: |
          PADRAO DE INTEGRACAO, use quando voce esta ajudando um desenvolvedor a
          implementar integracao programatica com webhook. Para um usuario apenas
          gerando relatorio no chat, use create_report_and_wait.
          
          Cria um novo relatorio de analise de credito para um CPF ou CNPJ.
          
          O processamento e ASSINCRONO: voce recebe o reportId imediatamente com
          status PENDING. O cliente acompanha o ciclo via:
            1. Webhook configurado (create_webhook), recomendado para integracoes.
            2. Polling em get_report ate reportProgress.isFinalized === true.
          
          Status (apos analyze_report manual): PENDING → APPROVED, DENIED ou ALERT.
          A maioria dos clientes deixa em PENDING e usa o resultado da politica.
          
          O tipo de relatorio (SIMPLES, ESSENCIAL, COMPLETO, COMPLETO+) e determinado
          pela politica de credito (policyId) utilizada.
          
          Use list_policies (ou find_policy_by_name pra fluxo interativo) para obter
          os policyIds disponiveis na organizacao.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/report' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"policyId":"6612a7f3625ea4ab00000000","document":"11.444.777/0001-61","type":"cnpj"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "policyId": "6612a7f3625ea4ab00000000",
                  "document": "11.444.777/0001-61",
                  "type": "cnpj"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/report",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "policyId": "6612a7f3625ea4ab00000000",
                      "document": "11.444.777/0001-61",
                      "type": "cnpj"
                  },
              )
              
              dados = resposta.json()
  /report/list:
    get:
      operationId: ReportController_list
      parameters:
        - name: take
          in: query
          required: false
          schema:
            type: integer
          description: Quantidade maxima de registros.
        - name: skip
          in: query
          required: false
          schema:
            type: integer
          description: Offset de paginacao.
        - name: statusValue
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - APPROVED
              - DENIED
              - ALERT
          description: Status do relatorio.
        - name: document
          in: query
          required: false
          schema:
            type: string
          description: CPF ou CNPJ (apenas numeros).
        - name: userId
          in: query
          required: false
          schema:
            type: string
          description: ID do usuario criador.
        - name: createdAtBetween
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: 'Intervalo [startISO, endISO].'
        - name: productIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Filtrar por productIds.
        - name: operationResultId
          in: query
          required: false
          schema:
            type: string
          description: ID do resultado de operacao.
        - name: reportIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: IDs especificos de relatorios.
        - name: batchId
          in: query
          required: false
          schema:
            type: string
          description: ID do batch.
      responses:
        '200':
          description: Array de relatorios com metadados (sem secoes detalhadas).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  description: Um relatorio da listagem.
              example:
                - id: 6612a7f3fe1b3b8900000000
                  policyId: 6612a7f3625ea4ab00000000
                  policyName: Completo+
                  policyStatus: DENIED
                  name: EMPRESA EXEMPLO LTDA
                  score: 1
                  document: '43591367000130'
                  committeeStatus: null
                  committeeDecision: null
                  createdAt: '2026-07-31T17:47:43.007Z'
                  yearMonthDay: 20260731
                  verified: true
                  exportUrl: 'https://exemplo.gyramais.com.br/arquivo'
                  status:
                    id: 6612a7f3410dcd8100000000
                    title: Não iniciado
                    value: PENDING
                    color: '#FBBB3B'
                  reportProgress:
                    isFinalized: true
                    finalizedAt: '2026-07-31T17:50:11.585Z'
                    elapsedTimeMs: 148578
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Listar relatorios da organizacao
      description: |
          Lista relatorios com filtros opcionais. Retorna relatorios da organizacao
          autenticada. Analistas de credito veem apenas os proprios relatorios.
          
          Suporta paginacao (take/skip) e filtros por status, documento, usuario, periodo,
          produtos, operacao, batch.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/list' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/list", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/list",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/count:
    get:
      operationId: ReportController_count
      parameters:
        - name: statusValue
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - APPROVED
              - DENIED
              - ALERT
          description: Status do relatorio.
        - name: document
          in: query
          required: false
          schema:
            type: string
          description: CPF ou CNPJ (apenas numeros).
        - name: userId
          in: query
          required: false
          schema:
            type: string
          description: ID do usuario criador.
        - name: createdAtBetween
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: 'Intervalo [startISO, endISO].'
        - name: productIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Filtrar por productIds.
        - name: operationResultId
          in: query
          required: false
          schema:
            type: string
          description: ID do resultado de operacao.
        - name: batchId
          in: query
          required: false
          schema:
            type: string
          description: ID do batch.
      responses:
        '200':
          description: Objeto com count (numero de relatorios).
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
              example:
                count: 128
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Contar relatorios
      description: |
          Retorna a contagem de relatorios que correspondem aos filtros aplicados.
          Util para dashboards e analytics sem carregar os dados completos. Aceita os mesmos
          filtros de list_reports.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/count' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/count", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/count",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/export/{id}:
    get:
      operationId: ReportController_export
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio a exportar.
      responses:
        '200':
          description: 'Objeto { status: "processing", reportId }, o arquivo chega via webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'processing: o arquivo chega pelo webhook `report.exported`.'
                  reportId:
                    type: string
              example:
                status: processing
                reportId: 6612a7f3a19b467000000000
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Exportar relatorio em PDF/Excel via webhook (padrao de integracao)
      description: |
          PADRAO DE INTEGRACAO, use quando voce esta ajudando um desenvolvedor a
          implementar integracao programatica com o Gyra+. Para um usuario apenas exportando
          no chat, use export_report_and_wait.
          
          Solicita a geracao de PDF/Excel de um relatorio. Processamento assincrono:
          retorna imediatamente com { status: "processing", reportId } e o arquivo e
          entregue via webhook configurado pelo cliente (create_webhook).
          
          Use quando:
          - O cliente ja tem (ou esta implementando) um endpoint pra receber webhook.
          - Precisa processar muitos relatorios em lote.
          - Latencia nao e critica e o webhook fecha o ciclo.
          
          Para fluxo interativo de agente (sem webhook), prefira export_report_and_wait.
          Para chamada bloqueante direta (cliente HTTP suporta long timeout), use
          export_report_sync.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/export/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/export/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/export/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/export-sync/{id}:
    get:
      operationId: ReportController_exportSync
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio a exportar.
      responses:
        '200':
          description: 'Objeto com a URL de download do PDF gerado (assinada, com expiracao).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportUrl:
                    type: string
                    description: 'URL assinada do PDF, com validade.'
                  exportedAt:
                    type: string
                    format: date-time
              example:
                exportUrl: 'https://exemplo.gyramais.com.br/arquivo'
                exportedAt: '2026-07-31T14:40:00.000Z'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Exportar relatorio bloqueante (padrao de integracao)
      description: |
          PADRAO DE INTEGRACAO, use quando voce esta ajudando um desenvolvedor a
          implementar integracao com cliente HTTP que suporta timeout longo (>= 6 min).
          Para um usuario apenas exportando no chat, use export_report_and_wait.
          
          O endpoint BLOQUEIA ate a geracao concluir, pode levar ate 6 minutos para
          relatorios completos. Cuidado: idle timeout de proxy/ALB tipico e 60s, entao
          isso so funciona se o cliente controla o caminho de rede (chamada server-to-server
          sem proxy intermediario).
          
          Pode ser chamado a qualquer momento, nao exige que o relatorio esteja
          finalizado nem analisado. Se o relatorio ainda esta processando, o PDF
          contem apenas as secoes prontas ate o momento.
          
          Para fluxo interativo de agente, prefira export_report_and_wait (timeout
          previsivel de 2min, com aviso quando relatorio nao esta finalizado).
          Para integracao com webhook, use export_report_via_webhook.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/export-sync/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/export-sync/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/export-sync/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/{id}:
    get:
      operationId: ReportController_get
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio (ObjectId). Retornado pelo create_report.
        - name: details
          required: false
          in: query
          description: Defina como "false" para omitir detalhes das secoes. Util para verificar status rapidamente.
          schema:
            type: string
      responses:
        '200':
          description: 'Relatorio completo com secoes, decisao e metadados.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio. Com `details=true` vem tambem o conteudo das secoes; o dicionario esta em /data/estrutura-relatorio.
              example:
                id: 6612a7f3a19b467000000000
                document: '43591367000130'
                name: EMPRESA EXEMPLO LTDA
                score: 1
                policyStatus: DENIED
                status:
                  id: 6612a7f3410dcd8100000000
                  title: Não iniciado
                  value: PENDING
                  color: '#FBBB3B'
                reportProgress:
                  isFinalized: true
                  finalizedAt: '2026-07-31T17:50:11.585Z'
                  elapsedTimeMs: 148578
                createdAt: '2026-07-31T17:47:43.007Z'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar relatorio por ID
      description: |
          Retorna o relatorio completo com secoes, decisao da politica e score.
          
          Se o relatorio esta em processamento, o status sera PENDING.
          Quando pronto, o objeto retornado contem:
          - status: APPROVED, DENIED ou ALERT
          - policyResult: decisao automatica com regras avaliadas
          - sections[]: array de secoes (BASIC_INFORMATION, PROCESSES, PROTESTS, SCR, etc.)
          - commentary: analise do analista (se houver)
          
          Use details=false para obter apenas metadados sem o conteudo das secoes.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/{id}/section/{sectionType}:
    get:
      operationId: ReportController_getReportSection
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio.
        - name: sectionType
          required: true
          in: path
          schema:
            type: string
          description: 'Tipo da secao (ex: BASIC_INFORMATION, PROCESSES, SCR, CREDIT_POLICY).'
      responses:
        '200':
          description: Secao com dados detalhados do tipo solicitado.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'A secao pedida. Os campos de `sectionDetails[].values` mudam por tipo de secao; o dicionario esta em /data/estrutura-relatorio.'
              example:
                id: 6612a7f3dc5b830500000000
                report:
                  id: 6612a7f3a19b467000000000
                  organizationId: 6612a7f3fa9e086b00000000
                type:
                  id: 6612a7f3ae223a4700000000
                  value: PROTESTS
                  tabs:
                    - type: RESTRICTIVE
                      order: 5
                      side: null
                createdAt: '2026-07-31T13:42:37.059Z'
                updatedAt: '2026-07-31T13:43:12.180Z'
                sectionDetails:
                  - values:
                      bureau:
                        injunction: false
                        protestsQuantity: 15
                        protestsTotalValue: 'R$ 102.390,05'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar secao especifica do relatorio
      description: |
          Retorna uma secao especifica de um relatorio pelo tipo.
          
          Tipos de secao disponiveis:
          - BASIC_INFORMATION: dados cadastrais, endereco, socios
          - PROCESSES: processos judiciais
          - PROTESTS: protestos em cartorio
          - PEFIN_REFIN: dividas Pefin/Refin
          - SCR: dados do Sistema de Informacoes de Credito do Banco Central
          - PEP_SANCTIONS: Pessoa Politicamente Exposta e sancoes
          - CREDIT_POLICY: resultado da avaliacao da politica de credito
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001/section/valor' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001/section/valor", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001/section/valor",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/analyze:
    post:
      operationId: ReportController_analyze
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ID do relatorio a analisar.
                approved:
                  type: boolean
                  description: 'true para aprovar, false para negar.'
                commentary:
                  type: string
                  description: Comentario do analista (opcional).
              required:
                - id
                - approved
            example:
              id: 6612a7f3a19b467000000000
              approved: true
              commentary: Aprovado após análise manual.
      responses:
        '200':
          description: Relatorio atualizado com a analise registrada.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio com a decisao manual registrada.
              example:
                id: 6612a7f3a19b467000000000
                organizationId: 6612a7f3fa9e086b00000000
                policyId: 6612a7f3625ea4ab00000000
                analystId: 6612a7f3615ff3f200000000
                analystName: Usuário API
                commentary: Teste de documentacao da API
                status:
                  id: 6612a7f33fdd7d9400000000
                  title: Aprovado
                  value: APPROVED
                  color: '#74DA42'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Analisar/aprovar relatorio
      description: |
          Registra a analise de um relatorio por um analista de credito.
          
          Define o status de aprovacao (approved: true/false), comentarios do analista
          e decisao manual. Usado quando a decisao automatica da politica precisa de
          revisao humana.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/report/analyze' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"id":"6612a7f3a19b467000000000","approved":true,"commentary":"Aprovado após análise manual."}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/analyze", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "id": "6612a7f3a19b467000000000",
                  "approved": true,
                  "commentary": "Aprovado após análise manual."
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/report/analyze",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "id": "6612a7f3a19b467000000000",
                      "approved": True,
                      "commentary": "Aprovado após análise manual."
                  },
              )
              
              dados = resposta.json()
  /report/re-analyze:
    post:
      operationId: ReportController_reAnalyze
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ID do relatorio a re-analisar.
                approved:
                  type: boolean
                  description: 'true para aprovar, false para negar.'
                commentary:
                  type: string
                  description: Comentario do analista (opcional).
              required:
                - id
                - approved
            example:
              id: 6612a7f3a19b467000000000
              approved: false
              commentary: 'Revisão: informação adicional identificou risco não mapeado. Decisão alterada para negado.'
      responses:
        '200':
          description: Relatorio atualizado com a nova analise.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio com a decisao manual substituida.
              example:
                id: 6612a7f3a19b467000000000
                analystName: Usuário API
                commentary: Revisao apos envio de balanco
                status:
                  id: 6612a7f33fdd7d9400000000
                  title: Aprovado
                  value: APPROVED
                  color: '#74DA42'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Re-analisar relatorio
      description: |
          Re-analisa um relatorio previamente analisado. Verifica se o usuario
          tem permissao para editar relatorios com base na politica de credito configurada.
          
          Util quando dados adicionais foram obtidos ou a decisao precisa ser revisada.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/report/re-analyze' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"id":"6612a7f3a19b467000000000","approved":false,"commentary":"Revisão: informação adicional identificou risco não mapeado. Decisão alterada para negado."}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/re-analyze", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "id": "6612a7f3a19b467000000000",
                  "approved": false,
                  "commentary": "Revisão: informação adicional identificou risco não mapeado. Decisão alterada para negado."
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/report/re-analyze",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "id": "6612a7f3a19b467000000000",
                      "approved": False,
                      "commentary": "Revisão: informação adicional identificou risco não mapeado. Decisão alterada para negado."
                  },
              )
              
              dados = resposta.json()
  /credit-policy/policy:
    get:
      operationId: PolicyController_find
      parameters:
        - name: percentages
          required: false
          in: query
          description: Enable percentage of policies
          schema:
            type: boolean
        - name: enabled
          required: false
          in: query
          description: Filtrar por politicas ativas. "true" ou "false" (como string).
          schema:
            type: boolean
        - name: protected
          required: false
          in: query
          description: Incluir politicas protegidas do sistema. "true" ou "false" (como string).
          schema:
            type: boolean
      responses:
        '200':
          description: 'Array de politicas com id, name, enabled, documentType, grupos de regras e configuracoes.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    reportType:
                      type: string
                    documentType:
                      type: string
                      enum:
                        - CNPJ
                        - CPF
                    bureauType:
                      type: string
                    hasSCR:
                      type: boolean
                    balanceRuleEnabled:
                      type: boolean
                    enabled:
                      type: boolean
                      description: Politica desabilitada nao pode ser executada.
                    organizationId:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
              example:
                - name: EMPRESA EXEMPLO LTDA
                  reportType: CUSTOMER_GYRA_360_PLUS
                  documentType: CNPJ
                  bureauType: BOAVISTA
                  hasSCR: false
                  balanceRuleEnabled: false
                  enabled: false
                  id: 6612a7f32ef457de00000000
                  organizationId: 6612a7f3fa9e086b00000000
                  createdAt: '2024-07-24T17:32:51.896Z'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - credit-policy/policy
      security:
        - authorization: []
      summary: Listar politicas de credito
      description: |
          Lista as politicas de credito da organizacao.
          
          Cada politica define:
          - Quais fontes de dados consultar (bureau de credito, SCR/Open Finance, etc.)
          - Regras de aprovacao automatica (score, limites, restricoes)
          - Tipo de relatorio gerado (SIMPLES, ESSENCIAL, COMPLETO, COMPLETO+)
          - Grupos de regras com pesos e thresholds
          
          O policyId retornado e necessario para criar relatorios (create_report).
          
          Filtros opcionais:
          - enabled: true para ver apenas politicas ativas
          - protected: true para incluir politicas protegidas (padrao do sistema)
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/credit-policy/policy' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/credit-policy/policy", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/credit-policy/policy",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /insight:
    post:
      operationId: InsightController_generateInsight
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sectionId:
                  type: string
                  description: ID da secao do relatorio para gerar o insight.
              required:
                - sectionId
            example:
              reportId: 6612a7f3a19b467000000000
      responses:
        '200':
          description: 'Insight gerado com analise, pontos de atencao e recomendacoes.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: Pareceres por secao e o resumo da decisao do comite. A leitura completa esta em /concepts/pareceres-gyra-ia.
              example:
                reportId: 6612a7f3a19b467000000000
                document: '43591367000130'
                committee:
                  status: DONE
                  decision: REJECTED
                  result:
                    decision: REJECTED
                    synthesis:
                      decision: REJECTED
                      resumo: 'Comitê confirma negativa da política: CNPJ suspenso e passivos relevantes inviabilizam a concessão.'
                      proximaAcao: Arquivar o processo e não retomar sem regularização cadastral comprovada.
                      confidence: 0.97
                      conditions: []
                      alcadaLevel: null
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - insight
      summary: Gerar insight com IA para secao do relatorio
      description: |
          Gera uma analise automatica com IA para uma secao especifica de um relatorio.
          
          A IA analisa os dados da secao e produz um resumo interpretativo com
          pontos de atencao e recomendacoes. O insight e salvo como comentario
          na secao do relatorio.
          
          Requisitos:
          - A secao deve estar finalizada (processamento completo)
          - A organizacao deve ter plano que suporte IA (nao disponivel em planos Trial ou Basic)
          
          Use get_report para obter os IDs das secoes disponiveis.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/insight' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"reportId":"6612a7f3a19b467000000000"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/insight", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "reportId": "6612a7f3a19b467000000000"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/insight",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "reportId": "6612a7f3a19b467000000000"
                  },
              )
              
              dados = resposta.json()
  /v2/report:
    post:
      operationId: ReportApiController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportDto'
            example:
              document: 11.444.777/0001-61
              type: cnpj
              policyId: 6612a7f3625ea4ab00000000
      responses:
        '200':
          description: Sucesso.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'O relatorio recem-criado. O processamento e assincrono: acompanhe por webhook `report.finished` ou por GET /v2/report/{id}.'
              example:
                id: 6612a7f3a19b467000000000
                createdAt: '2026-07-31T13:42:37.059Z'
                updatedAt: '2026-07-31T13:42:37.059Z'
                document: '43591367000130'
                organizationId: 6612a7f3fa9e086b00000000
                customerId: 6612a7f388be48e900000000
                months: 12
                policyVersion: 1.11
                verified: true
                status:
                  id: 6612a7f33fdd7d9400000000
                  value: PENDING
                reportProgress:
                  steps: []
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Criar relatorio (API v2)
      description: |
          Versao v2 da criacao de relatorio. Mesma funcionalidade de create_report
          com payload revisado. Use create_report_v2 para novas integracoes.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/v2/report' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"document":"11.444.777/0001-61","type":"cnpj","policyId":"6612a7f3625ea4ab00000000"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/v2/report", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "document": "11.444.777/0001-61",
                  "type": "cnpj",
                  "policyId": "6612a7f3625ea4ab00000000"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/v2/report",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "document": "11.444.777/0001-61",
                      "type": "cnpj",
                      "policyId": "6612a7f3625ea4ab00000000"
                  },
              )
              
              dados = resposta.json()
  /v2/report/{id}:
    get:
      operationId: ReportApiController_get
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio.
      responses:
        '200':
          description: Sucesso.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio com o estado do processamento. O dicionario completo das secoes esta em /data/estrutura-relatorio.
              example:
                id: 6612a7f3a19b467000000000
                document: '43591367000130'
                organizationId: 6612a7f3fa9e086b00000000
                months: 12
                policyVersion: 1.11
                verified: true
                status:
                  id: 6612a7f33fdd7d9400000000
                  value: APPROVED
                reportProgress:
                  isFinalized: true
                  finalizedAt: '2026-07-31T18:03:37.453Z'
                  steps: []
                createdAt: '2026-07-31T13:42:37.059Z'
                updatedAt: '2026-07-31T18:03:37.453Z'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar relatorio (API v2)
      description: |
          Versao v2 da consulta de relatorio. Retorna o relatorio com estrutura
          atualizada. Use get_report_v2 para novas integracoes.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/v2/report/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/v2/report/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/v2/report/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /v1/registry:
    post:
      operationId: RegistryController_create
      summary: Criar (ou recuperar) o cadastro de um CNPJ/CPF
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryDto'
            example:
              document: 11.444.777/0001-61
              name: AURORA COMPONENTES INDUSTRIAIS LTDA
      responses:
        '201':
          description: 'Cadastro com id, document, entityType (COMPANY/PERSON), name, kycStatus e completeness.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
              example:
                id: 6612a7f30000000000000001
                document: '11444777000161'
                entityType: COMPANY
                name: AURORA COMPONENTES INDUSTRIAIS LTDA
                tradeName: AURORA
                legalNature: Sociedade Empresária Limitada
                kycStatus: PENDING
                kycRenewalDue: '2027-03-31T00:00:00.000Z'
                completeness: 0
                documentsCount: 0
                pendingCount: 0
                reportId: null
                basicDataSyncedAt: '2026-09-05T12:58:10.000Z'
                createdAt: '2026-09-05T12:58:10.000Z'
                updatedAt: '2026-09-05T13:07:44.000Z'
        '400':
          description: 'Corpo ou parametro invalido. A mensagem aponta o campo, e concatena todas as falhas por virgula.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'document should not be empty,type must be one of the following values: cpf, cnpj'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - registry
      security:
        - authorization: []
      description: |
          Cria o dossie documental de um CNPJ ou CPF na organizacao autenticada.
          
          IDEMPOTENTE POR DOCUMENTO: chamar de novo com o mesmo CNPJ devolve o cadastro que ja existe,
          em vez de duplicar. E seguro chamar no inicio de qualquer jornada.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/v1/registry' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"document":"11.444.777/0001-61","name":"AURORA COMPONENTES INDUSTRIAIS LTDA"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/v1/registry", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "document": "11.444.777/0001-61",
                  "name": "AURORA COMPONENTES INDUSTRIAIS LTDA"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/v1/registry",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "document": "11.444.777/0001-61",
                      "name": "AURORA COMPONENTES INDUSTRIAIS LTDA"
                  },
              )
              
              dados = resposta.json()
    get:
      operationId: RegistryController_list
      summary: Listar cadastros da organizacao
      parameters: []
      responses:
        '200':
          description: Pagina de cadastros com situacao e completude.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryListResponse'
              example:
                items:
                  - id: 6612a7f30000000000000001
                    document: '11444777000161'
                    entityType: COMPANY
                    name: AURORA COMPONENTES INDUSTRIAIS LTDA
                    tradeName: AURORA
                    legalNature: Sociedade Empresária Limitada
                    kycStatus: ATTENTION
                    kycRenewalDue: '2027-03-31T00:00:00.000Z'
                    completeness: 0.66
                    documentsCount: 4
                    pendingCount: 1
                    reportId: 6612a7f3a19b467000000000
                    basicDataSyncedAt: '2026-09-05T12:58:10.000Z'
                    createdAt: '2026-09-05T12:58:10.000Z'
                    updatedAt: '2026-09-05T13:07:44.000Z'
                total: 1
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para executar esta ação.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Erro interno do servidor.
      tags:
        - registry
      security:
        - authorization: []
      description: |
          Lista os cadastros, com busca e filtro por situacao.
          
          Situacoes: PENDING (sem documento validado), PROCESSING (documento em analise),
          UP_TO_DATE (tudo validado), ATTENTION (divergencia, vencimento proximo ou ressalva),
          EXPIRED (renovacao vencida), RENEWING (renovacao em curso).
          
          ATENCAO: valor de kycStatus fora dessa lista e descartado em silencio pela validacao, e a
          consulta devolve a lista INTEIRA sem erro. Confira o valor antes de concluir qualquer coisa.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/v1/registry' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/v1/registry", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/v1/registry",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /v1/registry/validate-document:
    post:
      operationId: RegistryController_validateDocument
      summary: Validar um documento e receber o parecer
      description: |
          Manda UM arquivo (PDF, JPG ou PNG, ate 15MB) e recebe classificacao, campos extraidos, verificacoes e parecer.
          
          A ENTRADA E UNICA: voce nao diz que documento e. A plataforma reconhece sozinha 24 tipos
          (contrato social, alteracao contratual, estatuto, ata de assembleia, requerimento de
          empresario, procuracao PJ/PF, certidao da Junta, QSA, IRPJ/ECF, declaracao de faturamento,
          extrato bancario, certidao PGFN, FGTS, CADIN federal/estadual, Simples Nacional, eSocial,
          documento de identidade, comprovante de residencia, DIRPF, comprovante de renda,
          certidao PF, estado civil). O balanco (DEMONSTRACOES_FINANCEIRAS) e o 25o tipo com leitura
          propria, mas NAO e reconhecido sozinho: mande typeHint DEMONSTRACOES_FINANCEIRAS.
          
          O FORMATO DA SAIDA DEPENDE DO TIPO IDENTIFICADO: o objeto `extraction` traz os campos
          daquele tipo. Todo campo folha vem como { value, confidence, page }; campo ausente vem
          com value null e confidence 0, nunca inventado.
          
          Responde 200 com o resultado quando o pipeline fecha dentro de `waitSeconds`, ou 202 com
          { documentId, statusUrl } quando passa. No 202, continue com get_document_status.
          
          Use `expectedType` para conferir se veio o documento CERTO: a classificacao roda normal e o
          tipo lido e confrontado com o pedido. E o que pega o arquivo legitimo enviado no campo errado.
          Use `typeHint` so quando a origem ja garante o tipo: ele PULA a classificacao.
          
          O arquivo e arquivado no cadastro de `expectedDocument`, criando o cadastro se nao existir.
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - expectedDocument
              properties:
                file:
                  type: string
                  format: binary
                  description: 'O arquivo, em multipart/form-data. PDF, JPG ou PNG, ate 15MB. Acima disso use presign_registry_document + confirm_registry_document.'
                expectedDocument:
                  type: string
                  description: 'CNPJ ou CPF da jornada, com ou sem mascara. Obrigatorio: e o dono do cadastro onde o documento sera arquivado.'
                expectedName:
                  type: string
                  description: Razao social ou nome da jornada. Alimenta a verificacao EXPECTED_NAME_MATCH.
                waitSeconds:
                  type: integer
                  minimum: 5
                  maximum: 55
                  description: 'Espera maxima pela resposta sincrona, de 5 a 55. Padrao 45.'
                typeHint:
                  type: string
                  enum:
                    - CONTRATO_SOCIAL
                    - ALTERACAO_CONTRATUAL
                    - ESTATUTO_SOCIAL
                    - REQUERIMENTO_EMPRESARIO
                    - PROCURACAO_PJ
                    - IRPJ_ECF
                    - DECLARACAO_FATURAMENTO
                    - CERTIDAO_JUNTA
                    - ATA_ASSEMBLEIA
                    - DOC_IDENTIDADE
                    - COMPROVANTE_RESIDENCIA
                    - DIRPF
                    - COMPROVANTE_RENDA
                    - CERTIDAO_PF
                    - PROCURACAO_PF
                    - FORA_DE_ESCOPO
                    - NAO_IDENTIFICADO
                    - CERTIDAO_PGFN_PJ
                    - CERTIDAO_FGTS
                    - CADIN_FEDERAL
                    - CADIN_ESTADUAL
                    - CERTIDAO_QSA
                    - CERTIFICADO_SIMPLES_NACIONAL
                    - ESOCIAL_PJ
                    - COMPROVACAO_ESTADO_CIVIL
                    - DEMONSTRACOES_FINANCEIRAS
                    - EXTRATO_BANCARIO
                  description: 'AFIRMA o tipo do arquivo: o pipeline adota e pula a classificacao. So use quando a origem ja garante o tipo.'
                expectedType:
                  type: string
                  enum:
                    - CONTRATO_SOCIAL
                    - ALTERACAO_CONTRATUAL
                    - ESTATUTO_SOCIAL
                    - REQUERIMENTO_EMPRESARIO
                    - PROCURACAO_PJ
                    - IRPJ_ECF
                    - DECLARACAO_FATURAMENTO
                    - CERTIDAO_JUNTA
                    - ATA_ASSEMBLEIA
                    - DOC_IDENTIDADE
                    - COMPROVANTE_RESIDENCIA
                    - DIRPF
                    - COMPROVANTE_RENDA
                    - CERTIDAO_PF
                    - PROCURACAO_PF
                    - FORA_DE_ESCOPO
                    - NAO_IDENTIFICADO
                    - CERTIDAO_PGFN_PJ
                    - CERTIDAO_FGTS
                    - CADIN_FEDERAL
                    - CADIN_ESTADUAL
                    - CERTIDAO_QSA
                    - CERTIFICADO_SIMPLES_NACIONAL
                    - ESOCIAL_PJ
                    - COMPROVACAO_ESTADO_CIVIL
                    - DEMONSTRACOES_FINANCEIRAS
                    - EXTRATO_BANCARIO
                  description: 'PEDE um tipo: a classificacao roda e o tipo lido e confrontado (verificacao EXPECTED_TYPE_MATCH). E o campo que pega documento trocado.'
      responses:
        '200':
          description: 'Resultado completo (200) com type, extraction, validation.checks[] e assessment; ou { documentId, statusUrl } (202) quando ainda processa.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryDocumentResult'
[...]
