openapi: 3.0.0
info:
  title: GYRA+ API - MCP Server
  description: API da Gyra+ para analise de credito. Spec curada para uso com agentes AI via MCP.
  version: '1.0'
  contact: {}
servers:
  - url: 'https://gyra-core.gyramais.com.br'
    description: Producao
paths:
  /report/{id}/financial-tab:
    post:
      operationId: ReportController_financialSection
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio (CNPJ) que vai receber as demonstracoes.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: |
                      PDFs do balanco patrimonial e/ou da DRE. Repita o campo `files`
                      para enviar mais de um arquivo. Ate 10 arquivos por chamada,
                      50MB cada, somente PDF.
              required:
                - files
      responses:
        200:
          description: Relatorio atualizado, com as secoes financeiras marcadas como em processamento.
        400:
          description: Nenhum arquivo enviado, arquivo que nao e um PDF valido ou mais de 10 arquivos.
        404:
          description: Relatorio nao encontrado ou de outra organizacao.
        413:
          description: Arquivo maior que 50MB.
      tags:
        - report
      security:
        - authorization: []
      summary: Enviar balanco e DRE
      description: |
          Envia um ou mais PDFs de balanco patrimonial e DRE para um relatorio de CNPJ
          ja existente. A extracao transforma as demonstracoes em dados estruturados
          (balanco, DRE e indicadores) e as disponibiliza como secoes do relatorio.

          A chamada e ASSINCRONA: responde 200 assim que os arquivos sao aceitos e
          enfileirados, sem os dados estruturados. O resultado sai depois em
          GET /report/{id}/section/BALANCE_SHEET (idem DRE e FINANCIAL_INDICATORS).

          Envie apenas as paginas do balanco e da DRE: quanto mais enxuto o PDF,
          mais rapido e barato o processamento.
  /report/{id}/committee:
    post:
      operationId: ReportController_conveneCommittee
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio que vai a comite.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: 'Ignora o cache da deliberacao e reprocessa do zero. Padrao false.'
                  default: false
      responses:
        200:
          description: 'Deliberacao aceita e iniciada: { status: "RUNNING", trigger: "MANUAL" | "RERUN" }.'
        400:
          description: 'Relatorio ainda nao esta pronto para o comite (pareceres ou politica pendentes, ou parecer nao habilitado na politica).'
        404:
          description: Relatorio nao encontrado ou de outra organizacao.
        409:
          description: Ja existe uma deliberacao em andamento para este relatorio.
      tags:
        - report
      security:
        - authorization: []
      summary: Convocar o Comite de Credito IA
      description: |
          Dispara manualmente a deliberacao do Comite de Credito IA sobre um relatorio.

          Use quando a politica esta em "Nao convocar automaticamente" e o comite deve rodar
          sob demanda, ou para reconvocar um relatorio que ja deliberou (DONE), falhou
          (ERROR) ou foi pulado (SKIPPED).

          Pre-requisitos (senao retorna 400):
          - a politica do relatorio habilita o pipeline de parecer;
          - os pareceres por secao ja finalizaram;
          - a politica de credito ja concluiu (quando o relatorio tem politica).

          A chamada e assincrona: o 200 confirma que a deliberacao iniciou, nao que terminou.
          Convocacao manual sempre entra como sugestao e nao altera o status do relatorio,
          mesmo numa politica em "Convocar comite e decisao automatica".
          Para saber o resultado, registre o webhook COMMITTEE_FINISHED ou consulte
          GET /report/{id}/insights.
  /report/{id}/insights:
    get:
      operationId: ReportController_getReportInsights
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio.
        - name: section
          required: false
          in: query
          schema:
            type: string
          description: 'Filtra o parecer de UMA secao (ex: PROCESSES, SCR, PEFIN). Sem o parametro, retorna todos os pareceres concluidos. Tipo de secao invalido responde 400; secao sem parecer responde insights vazio.'
      responses:
        200:
          description: 'Envelope com reportId, document, committee { status, decision, result, at } e insights[] (parecer por secao).'
        400:
          description: Valor de section fora da lista de tipos de secao.
        404:
          description: Relatorio nao encontrado ou de outra organizacao.
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar pareceres do relatorio
      description: |
          Leitura enxuta do relatorio: apenas os pareceres de IA por secao (texto, score,
          nivel de risco e destaques) e o resumo da deliberacao do comite. Nao traz os
          payloads pesados de integracao.

          Pensado para consumo barato por agentes de IA e para telas de resumo executivo.
          Tambem serve para verificar se os pareceres ja terminaram antes de convocar o
          comite com POST /report/{id}/committee.

          Só entram no array insights[] as secoes com parecer concluido. Relatorio ainda em
          processamento devolve insights vazio ou parcial e committee.status null.
  /committee/deliberations/{reportId}:
    get:
      operationId: CommitteeController_getDeliberation
      parameters:
        - name: reportId
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio que foi a comite.
      responses:
        200:
          description: 'Deliberacao completa: agentOpinions[], synthesis, finalRecommendation, versoes de prompt e telemetria.'
        404:
          description: Nenhuma deliberacao encontrada para este relatorio.
      tags:
        - committee
      security:
        - authorization: []
      summary: Consultar deliberacao do Comite de Credito IA
      description: |
          Retorna a deliberacao completa e auditavel do Comite de Credito IA para um
          relatorio: o voto individual de cada um dos sete agentes (score, parecer,
          redFlags, positiveFactors, recommendation), a sintese do Presidente (decisao,
          justificativa, condicoes, registro de divergencia, alcada), a versao de prompt
          usada por agente e a telemetria (modelos, tokens, custo, duracao).

          Retorna sempre a deliberacao mais recente. Reconvocacoes (trigger RERUN) geram
          uma nova deliberacao, e e ela que passa a ser devolvida.

          Para o fluxo do dia a dia, GET /report/{id}/insights e mais leve.
  /auth/authenticate:
    post:
      operationId: AuthController_generateAccessToken
      parameters:
        - name: gyra-client-secret
          in: header
          required: true
          description: 'Client Secret da credencial. Gerado no Toolbox em Configuracoes > API & MCP e mostrado uma unica vez.'
          schema:
            type: string
        - name: gyra-client-id
          in: header
          required: true
          description: 'Client ID da credencial. Gerado no Toolbox em Configuracoes > API & MCP.'
          schema:
            type: string
      responses:
        '200':
          description: 'Sessao criada: accessToken (JWT) e expiresAt (24 horas apos a emissao).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  accessToken:
                    type: string
                    description: 'JWT. Vai no header Authorization como `Bearer <token>`.'
                  expiresAt:
                    type: string
                    format: date-time
                    description: Validade de 24 horas. Renove antes de expirar.
                  userId:
                    type: string
                  organizationId:
                    type: string
                  loggedOutAt:
                    type: string
                    nullable: true
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
              example:
                id: 6612a7f3a1b2c3d400000000
                createdAt: '2026-07-31T13:40:02.118Z'
                updatedAt: '2026-07-31T13:40:02.118Z'
                expiresAt: '2026-08-01T13:40:02.114Z'
                accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                userId: 6612a7f3b4c5d6e700000000
                loggedOutAt: null
                organizationId: 6612a7f30000000000000001
        '400':
          description: O gyra-client-id nao corresponde a nenhuma credencial (inclusive credencial revogada).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: ClientId inválido.
        '401':
          description: O gyra-client-secret nao confere com o client id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: ClientSecret inválido.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - auth
      summary: Gerar token de acesso JWT
      description: |
          Autentica via client credentials (client-id e client-secret) e retorna um JWT.
          
          Este e o primeiro passo para usar a API. O token retornado deve ser enviado
          no header Authorization de todas as requisicoes subsequentes.
          
          NOTA: No MCP server, a autenticacao e automatica, e este tool e exposto apenas
          para uso manual ou debug. O server gerencia o token internamente.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/auth/authenticate' \
                --header 'gyra-client-id: SEU_CLIENT_ID' \
                --header 'gyra-client-secret: SEU_CLIENT_SECRET'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/auth/authenticate", {
                method: "POST",
                headers: {
                  "gyra-client-id": process.env.GYRA_CLIENT_ID,
                  "gyra-client-secret": process.env.GYRA_CLIENT_SECRET,
                },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/auth/authenticate",
                  headers={
                      "gyra-client-id": client_id,
                      "gyra-client-secret": client_secret,
                  },
              )
              
              dados = resposta.json()
  /webhook:
    post:
      operationId: WebhookController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookDto'
            example:
              type: REPORT_FINISHED
              url: 'https://api.suaempresa.com/gyra/webhook'
      responses:
        '200':
          description: 'Webhook criado com id, type, url e organizationId.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  url:
                    type: string
                  apiKey:
                    type: string
                    nullable: true
                  organizationId:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
              example:
                id: 6612a7f344eb43f000000000
                createdAt: '2026-07-31T13:40:02.118Z'
                updatedAt: '2026-07-31T13:40:02.118Z'
                organizationId: 6612a7f3fa9e086b00000000
                type: REPORT_FINISHED
                url: 'https://api.suaempresa.com/gyra/webhook'
                apiKey: null
        '400':
          description: 'Tipo invalido, url ausente, ou a URL nao respondeu 2xx ao POST de teste feito antes de salvar.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: URL de webhook inválida.
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - webhook
      summary: Criar webhook para notificacoes
      description: |
          Registra uma URL que recebe um POST a cada evento do tipo escolhido. Cada webhook
          escuta um tipo; para varios tipos, cadastre varios webhooks.

          Antes de salvar, a GYRA+ faz um POST de teste na URL com o corpo
          {"message": "Teste de webhook cadastrado com sucesso!"}. Se a URL nao responder 2xx,
          o cadastro e recusado com 400 "URL de webhook inválida.".

          Tipos:
          - REPORT: cada secao do relatorio atualizada (varios disparos por relatorio)
          - REPORT_FINISHED: todas as fontes do relatorio terminaram
          - REPORT_STATUS: decisao gravada no relatorio (manual ou automatica)
          - CREDIT_POLICY: o resultado da politica de credito mudou de status
          - REPORT_EXPORTED: arquivo exportado pronto (ou falha da exportacao)
          - COMMITTEE_FINISHED: o Comite de Credito IA concluiu ou falhou
          - OPERATION: execucao de esteira concluiu com status final
          - OPTIN: fluxo de opt-in

          Envelope de todo evento: { organizationId, webhookType, data }. Se apiKey for
          informada, vai no header api-key. Entrega com falha de rede, 5xx, 408, 425 ou 429
          e tentada de novo ate 3 vezes.

          REPORT, REPORT_FINISHED e COMMITTEE_FINISHED so saem para relatorios criados
          depois do cadastro do webhook.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/webhook' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"type":"REPORT_FINISHED","url":"https://api.suaempresa.com/gyra/webhook"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/webhook", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "type": "REPORT_FINISHED",
                  "url": "https://api.suaempresa.com/gyra/webhook"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/webhook",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "type": "REPORT_FINISHED",
                      "url": "https://api.suaempresa.com/gyra/webhook"
                  },
              )
              
              dados = resposta.json()
  /webhook/findBy:
    get:
      operationId: WebhookController_find
      parameters:
        - name: webhookId
          required: false
          in: query
          description: 'ID de um webhook (opcional). Sem este parametro, retorna todos os webhooks da organizacao do token. A resposta e sempre um array.'
          schema:
            example: 664b63037707171ba58cf311
            type: string
      responses:
        '200':
          description: 'Webhook(s) com id, type, url, apiKey e organizationId.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  description: Um webhook de relatorio e credito.
              example:
                - id: 6612a7f344eb43f000000000
                  createdAt: '2026-06-18T23:48:24.706Z'
                  updatedAt: '2026-06-18T23:48:24.706Z'
                  organizationId: 6612a7f3fa9e086b00000000
                  type: REPORT_FINISHED
                  url: 'https://api.suaempresa.com/gyra/webhook'
                  apiKey: null
        '400':
          description: webhookId enviado vazio.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: id should not be empty
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - webhook
      summary: Consultar webhooks cadastrados
      description: |
          Busca webhooks cadastrados na organizacao.
          
          Se webhookId for informado, retorna o webhook especifico.
          Caso contrario, retorna todos os webhooks da organizacao autenticada.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/webhook/findBy' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/webhook/findBy", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/webhook/findBy",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /webhook/{id}:
    delete:
      operationId: WebhookController_delete
      parameters:
        - name: id
          required: true
          in: path
          description: ID do webhook a remover.
          schema:
            example: 664b63037707171ba58cf311
            type: string
      responses:
        '200':
          description: O webhook removido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  url:
                    type: string
                  apiKey:
                    type: string
                    nullable: true
                  organizationId:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
              example:
                id: 6612a7f344eb43f000000000
                createdAt: '2026-07-31T18:02:54.965Z'
                updatedAt: '2026-07-31T18:02:54.965Z'
                organizationId: 6612a7f3fa9e086b00000000
                type: REPORT_FINISHED
                url: 'https://api.suaempresa.com/gyra/webhook'
                apiKey: null
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '404':
          description: Webhook inexistente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 404
                message: 'An operation failed because it depends on one or more records that were required but not found. Record to delete does not exist.'
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - webhook
      summary: Deletar webhook
      description: Remove um webhook cadastrado. A URL deixa de receber notificacoes imediatamente.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request DELETE 'https://gyra-core.gyramais.com.br/webhook/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/webhook/6612a7f30000000000000001", {
                method: "DELETE",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.delete(
                  "https://gyra-core.gyramais.com.br/webhook/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/section/{id}:
    get:
      operationId: SectionController_get
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: 'ID da secao (ObjectId). Disponivel no array sections[] do relatorio.'
      responses:
        '200':
          description: 'Secao completa com dados detalhados, status de finalizacao e metadados.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: A secao por id. Mesma forma da consulta por tipo.
              example:
                id: 6612a7f3dc5b830500000000
                type:
                  id: 6612a7f3ae223a4700000000
                  value: PROTESTS
                sectionDetails:
                  - values:
                      bureau:
                        protestsQuantity: 15
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar secao por ID
      description: |
          Retorna os dados detalhados de uma secao especifica de um relatorio.
          
          Cada relatorio e composto por varias secoes que contem dados de diferentes fontes:
          - Informacoes basicas (CNPJ/CPF, endereco, socios, QSA)
          - Processos judiciais
          - Protestos em cartorio
          - Dividas Pefin/Refin
          - Dados SCR / Open Finance (Banco Central)
          - PEP e sancoes internacionais
          - Resultado da politica de credito
          
          Use get_report para obter a lista de secoes e seus IDs. Um id que nao
          corresponde a nenhuma secao responde 200 sem corpo.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/section/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/section/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/section/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report:
    post:
      operationId: ReportController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportDto'
            example:
              policyId: 6612a7f3625ea4ab00000000
              document: '11222333000181'
      responses:
        '200':
          description: 'Objeto do relatorio com id, status (PENDING), document, type e createdAt.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio recem-criado (API v1).
              example:
                id: 6612a7f3a19b467000000000
                document: '43591367000130'
                organizationId: 6612a7f3fa9e086b00000000
                status:
                  id: 6612a7f33fdd7d9400000000
                  value: PENDING
                createdAt: '2026-07-31T13:42:37.059Z'
        '400':
          description: 'CPF ou CNPJ invalido no corpo.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'Você precisa inserir um CNPJ ou CPF válido.'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Criar relatorio (padrao de integracao com webhook)
      description: |
          PADRAO DE INTEGRACAO, use quando voce esta ajudando um desenvolvedor a
          implementar integracao programatica com webhook. Para um usuario apenas
          gerando relatorio no chat, use create_report_and_wait.
          
          Cria um novo relatorio de analise de credito para um CPF ou CNPJ.
          
          O processamento e ASSINCRONO: voce recebe o reportId imediatamente com
          status PENDING. O cliente acompanha o ciclo via:
            1. Webhook configurado (create_webhook), recomendado para integracoes.
            2. Polling em get_report ate reportProgress.isFinalized === true.
          
          Status do relatorio: PENDING ate uma decisao; APPROVED ou REJECTED depois de
          analyze_report. O resultado da politica fica em policyStatus.
          
          O tipo de relatorio (SIMPLES, ESSENCIAL, COMPLETO, COMPLETO+) e determinado
          pela politica de credito (policyId) utilizada.
          
          Use list_policies (ou find_policy_by_name pra fluxo interativo) para obter
          os policyIds disponiveis na organizacao.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/report' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"policyId":"6612a7f3625ea4ab00000000","document":"11222333000181"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "policyId": "6612a7f3625ea4ab00000000",
                  "document": "11222333000181"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/report",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "policyId": "6612a7f3625ea4ab00000000",
                      "document": "11222333000181"
                  },
              )
              
              dados = resposta.json()
  /report/list:
    get:
      operationId: ReportController_list
      parameters:
        - name: take
          in: query
          required: false
          schema:
            type: integer
          description: Quantidade maxima de registros.
        - name: skip
          in: query
          required: false
          schema:
            type: integer
          description: Offset de paginacao.
        - name: statusValue
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - APPROVED
              - REJECTED
          description: Status do relatorio, em maiusculas.
        - name: document
          in: query
          required: false
          schema:
            type: string
          description: 'CPF ou CNPJ sem mascara, com digito verificador valido.'
        - name: userId
          in: query
          required: false
          schema:
            type: string
          description: 'ID do usuario criador. O valor api-user traz so os relatorios criados pela API.'
        - name: createdAtBetween
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: 'Intervalo [startISO, endISO].'
        - name: productIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Filtrar por productIds.
        - name: operationResultId
          in: query
          required: false
          schema:
            type: string
          description: ID do resultado de operacao.
        - name: reportIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: IDs especificos de relatorios.
        - name: batchId
          in: query
          required: false
          schema:
            type: string
          description: ID do batch.
      responses:
        '200':
          description: Array de relatorios com metadados (sem secoes detalhadas).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  description: Um relatorio da listagem.
              example:
                - id: 6612a7f3fe1b3b8900000000
                  policyId: 6612a7f3625ea4ab00000000
                  policyName: Completo+
                  policyStatus: DENIED
                  name: EMPRESA EXEMPLO LTDA
                  score: 1
                  document: '43591367000130'
                  committeeStatus: null
                  committeeDecision: null
                  createdAt: '2026-07-31T17:47:43.007Z'
                  yearMonthDay: 20260731
                  verified: true
                  exportUrl: 'https://exemplo.gyramais.com.br/arquivo'
                  status:
                    id: 6612a7f3410dcd8100000000
                    title: Não iniciado
                    value: PENDING
                    color: '#FBBB3B'
                  reportProgress:
                    isFinalized: true
                    finalizedAt: '2026-07-31T17:50:11.585Z'
                    elapsedTimeMs: 148578
        '400':
          description: 'statusValue fora de PENDING, APPROVED ou REJECTED, ou document com digito verificador invalido.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'Você precisa inserir um status de relatório válido.'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Listar relatorios da organizacao
      description: |
          Lista relatorios com filtros opcionais. Retorna relatorios da organizacao
          autenticada. Analistas de credito veem apenas os proprios relatorios.
          
          Suporta paginacao (take/skip) e filtros por status, documento, usuario, periodo,
          produtos, operacao, batch.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/list' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/list", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/list",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/count:
    get:
      operationId: ReportController_count
      parameters:
        - name: statusValue
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - APPROVED
              - REJECTED
          description: Status do relatorio, em maiusculas.
        - name: document
          in: query
          required: false
          schema:
            type: string
          description: 'CPF ou CNPJ sem mascara, com digito verificador valido.'
        - name: userId
          in: query
          required: false
          schema:
            type: string
          description: 'ID do usuario criador. O valor api-user traz so os relatorios criados pela API.'
        - name: createdAtBetween
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: 'Intervalo [startISO, endISO].'
        - name: productIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Filtrar por productIds.
        - name: operationResultId
          in: query
          required: false
          schema:
            type: string
          description: ID do resultado de operacao.
        - name: batchId
          in: query
          required: false
          schema:
            type: string
          description: ID do batch.
      responses:
        '200':
          description: Numero de relatorios que atendem aos filtros (o corpo e o proprio numero).
          content:
            application/json:
              schema:
                type: integer
              example: 128
        '400':
          description: 'statusValue fora de PENDING, APPROVED ou REJECTED, ou document com digito verificador invalido.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'Você precisa inserir um status de relatório válido.'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Contar relatorios
      description: |
          Retorna a contagem de relatorios que correspondem aos filtros aplicados.
          Util para dashboards e analytics sem carregar os dados completos. Aceita os mesmos
          filtros de list_reports.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/count' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/count", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/count",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/export/{id}:
    get:
      operationId: ReportController_export
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio a exportar.
        - name: type
          required: true
          in: query
          schema:
            type: string
            enum:
              - REPORT
              - REPORT_MINIFIED
          description: 'Obrigatorio. Use REPORT. Sem ele, a resposta e 400.'
        - name: exportFormat
          required: false
          in: query
          schema:
            type: string
            enum:
              - pdf
              - excel
              - both
          description: 'pdf (padrao), excel ou both. Com both saem dois arquivos e dois webhooks.'
        - name: sectionOrder
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
          description: 'Secoes do arquivo, na ordem desejada. Repita o parametro para cada secao. Sem ele, valem as secoes e a ordem do modelo.'
        - name: templateId
          required: false
          in: query
          schema:
            type: string
          description: ID de um modelo de exportacao da organizacao.
        - name: systemTemplate
          required: false
          in: query
          schema:
            type: string
            enum:
              - COMPLETE
              - COMPACT
          description: Modelo nativo de exportacao.
      responses:
        '202':
          description: 'Objeto { status: "processing", reportId }. O arquivo chega pelo webhook REPORT_EXPORTED.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'processing: o arquivo chega pelo webhook REPORT_EXPORTED.'
                  reportId:
                    type: string
              example:
                status: processing
                reportId: 6612a7f3a19b467000000000
        '400':
          description: 'Parametro type ausente ou invalido, ou exportFormat fora de pdf, excel, both.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'type must be one of the following values: REPORT, REPORT_MINIFIED,type should not be empty'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Exportar relatorio em PDF/Excel via webhook (padrao de integracao)
      description: |
          PADRAO DE INTEGRACAO, use quando voce esta ajudando um desenvolvedor a
          implementar integracao programatica com o Gyra+. Para um usuario apenas exportando
          no chat, use export_report_and_wait.
          
          Solicita a geracao de PDF/Excel de um relatorio. Processamento assincrono:
          retorna imediatamente com { status: "processing", reportId } e o arquivo e
          entregue via webhook configurado pelo cliente (create_webhook).
          
          Use quando:
          - O cliente ja tem (ou esta implementando) um endpoint pra receber webhook.
          - Precisa processar muitos relatorios em lote.
          - Latencia nao e critica e o webhook fecha o ciclo.
          
          Para fluxo interativo de agente (sem webhook), prefira export_report_and_wait.
          Para chamada bloqueante direta (cliente HTTP suporta long timeout), use
          export_report_sync.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/export/6612a7f30000000000000001?type=REPORT' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/export/6612a7f30000000000000001?type=REPORT", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/export/6612a7f30000000000000001?type=REPORT",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/export-sync/{id}:
    get:
      operationId: ReportController_exportSync
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio a exportar.
        - name: type
          required: true
          in: query
          schema:
            type: string
            enum:
              - REPORT
              - REPORT_MINIFIED
          description: 'Obrigatorio. Use REPORT. Sem ele, a resposta e 400.'
        - name: exportFormat
          required: false
          in: query
          schema:
            type: string
            enum:
              - pdf
              - excel
              - both
          description: 'pdf (padrao) ou excel. both nao e suportado nesta rota: use a exportacao assincrona.'
        - name: sectionOrder
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
          description: 'Secoes do arquivo, na ordem desejada. Repita o parametro para cada secao. Sem ele, valem as secoes e a ordem do modelo.'
        - name: templateId
          required: false
          in: query
          schema:
            type: string
          description: ID de um modelo de exportacao da organizacao.
        - name: systemTemplate
          required: false
          in: query
          schema:
            type: string
            enum:
              - COMPLETE
              - COMPACT
          description: Modelo nativo de exportacao.
      responses:
        '202':
          description: 'Registro da exportacao, com o arquivo ja pronto. O link esta em url.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url:
                    type: string
                    description: Link do arquivo gerado.
                  payload:
                    type: object
                    properties:
                      reportId:
                        type: string
                      type:
                        type: string
                        description: PDFMAKE para PDF, EXCEL para Excel.
                      generatedAt:
                        type: string
                        format: date-time
                  userId:
                    type: string
                  organizationId:
                    type: string
                  typeId:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
              example:
                id: 6612a7f32b77480800000000
                createdAt: '2026-07-31T18:03:37.465Z'
                updatedAt: '2026-07-31T18:03:37.465Z'
                userId: 6612a7f3615ff3f200000000
                organizationId: 6612a7f3fa9e086b00000000
                typeId: 6612a7f371f08b3400000000
                url: 'https://exemplo.gyramais.com.br/relatorio.pdf'
                payload:
                  reportId: 6612a7f3a19b467000000000
                  type: PDFMAKE
                  generatedAt: '2026-07-31T18:03:37.464Z'
        '400':
          description: 'Parametro type ausente ou invalido, ou exportFormat fora de pdf, excel, both.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'type must be one of the following values: REPORT, REPORT_MINIFIED,type should not be empty'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Exportar relatorio bloqueante (padrao de integracao)
      description: |
          PADRAO DE INTEGRACAO, use quando voce esta ajudando um desenvolvedor a
          implementar integracao com cliente HTTP que suporta timeout longo (>= 6 min).
          Para um usuario apenas exportando no chat, use export_report_and_wait.
          
          O endpoint BLOQUEIA ate a geracao concluir e responde 202 com o registro da
          exportacao (link em url). Use timeout longo no cliente HTTP.
          
          Para fluxo interativo de agente, prefira export_report_and_wait (timeout
          previsivel de 2min, com aviso quando relatorio nao esta finalizado).
          Para integracao com webhook, use export_report_via_webhook.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/export-sync/6612a7f30000000000000001?type=REPORT' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/export-sync/6612a7f30000000000000001?type=REPORT", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/export-sync/6612a7f30000000000000001?type=REPORT",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/{id}:
    get:
      operationId: ReportController_get
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio (ObjectId). Retornado pelo create_report.
        - name: details
          required: false
          in: query
          description: Defina como "false" para omitir detalhes das secoes. Util para verificar status rapidamente.
          schema:
            type: string
      responses:
        '200':
          description: 'Relatorio completo com secoes, decisao e metadados.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio. Com `details=true` vem tambem o conteudo das secoes; o dicionario esta em /data/estrutura-relatorio.
              example:
                id: 6612a7f3a19b467000000000
                document: '43591367000130'
                name: EMPRESA EXEMPLO LTDA
                score: 1
                policyStatus: DENIED
                status:
                  id: 6612a7f3410dcd8100000000
                  title: Não iniciado
                  value: PENDING
                  color: '#FBBB3B'
                reportProgress:
                  isFinalized: true
                  finalizedAt: '2026-07-31T17:50:11.585Z'
                  elapsedTimeMs: 148578
                createdAt: '2026-07-31T17:47:43.007Z'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar relatorio por ID
      description: |
          Retorna o relatorio com secoes, decisao e metadados.

          status.value e PENDING ate uma decisao, e APPROVED ou REJECTED depois. O
          resultado da politica fica em policyStatus; a decisao manual, em analystName e
          commentary.

          Com credencial de API, a resposta tem a mesma forma de GET /v2/report/{id} e os
          parametros details e tabType sao ignorados. Para integracoes novas, use
          GET /v2/report/{id}.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/{id}/section/{sectionType}:
    get:
      operationId: ReportController_getReportSection
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio.
        - name: sectionType
          required: true
          in: path
          schema:
            type: string
          description: 'Tipo da secao (ex: BASIC_INFORMATION, PROCESSES, SCR, CREDIT_POLICY).'
      responses:
        '200':
          description: Secao com dados detalhados do tipo solicitado.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'A secao pedida. Os campos de `sectionDetails[].values` mudam por tipo de secao; o dicionario esta em /data/estrutura-relatorio.'
              example:
                id: 6612a7f3dc5b830500000000
                report:
                  id: 6612a7f3a19b467000000000
                  organizationId: 6612a7f3fa9e086b00000000
                type:
                  id: 6612a7f3ae223a4700000000
                  value: PROTESTS
                  tabs:
                    - type: RESTRICTIVE
                      order: 5
                      side: null
                createdAt: '2026-07-31T13:42:37.059Z'
                updatedAt: '2026-07-31T13:43:12.180Z'
                sectionDetails:
                  - values:
                      bureau:
                        injunction: false
                        protestsQuantity: 15
                        protestsTotalValue: 'R$ 102.390,05'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar secao especifica do relatorio
      description: |
          Retorna uma secao de um relatorio pelo tipo (sectionType, em maiusculas).

          Exemplos de tipo: BASIC_INFORMATION, LOCATION, RELATIONS, SCORE, PROCESSES,
          PROTESTS, PEFIN, REFIN, SCR, SCR_SUMMARY, PEP, SANCTIONS, BALANCE_SHEET, DRE,
          FINANCIAL_INDICATORS, FINANCIAL_INSIGHTS, CREDIT_POLICY, PRICING. Lista completa
          em /api-reference/report/get-report-section.

          404 "Tipo de seção não encontrado" para tipo invalido, 404 "Seção não encontrada"
          quando o relatorio nao tem a secao, 404 "Relatório não encontrado" para relatorio
          inexistente ou de outra organizacao.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001/section/PROTESTS' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001/section/PROTESTS", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/report/6612a7f30000000000000001/section/PROTESTS",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /report/analyze:
    post:
      operationId: ReportController_analyze
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ID do relatorio a analisar.
                approved:
                  type: boolean
                  description: 'true para aprovar, false para negar.'
                commentary:
                  type: string
                  description: Comentario do analista (opcional).
              required:
                - id
                - approved
            example:
              id: 6612a7f3a19b467000000000
              approved: true
              commentary: Aprovado após análise manual.
      responses:
        '200':
          description: Relatorio atualizado com a analise registrada.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio com a decisao manual registrada.
              example:
                id: 6612a7f3a19b467000000000
                organizationId: 6612a7f3fa9e086b00000000
                policyId: 6612a7f3625ea4ab00000000
                analystId: 6612a7f3615ff3f200000000
                analystName: Usuário API
                commentary: Aprovado após análise manual.
                policyStatus: APPROVED
                operationResultId: null
                document: '11222333000181'
                status:
                  id: 6612a7f33fdd7d9400000000
                  title: Aprovado
                  value: APPROVED
                  color: '#74DA42'
        '400':
          description: 'Corpo sem id ou approved, ou relatorio ja decidido (use POST /report/re-analyze).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'O relatório já foi analisado.'
        '404':
          description: Relatorio inexistente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 404
                message: O relatório não foi encontrado.
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Analisar/aprovar relatorio
      description: |
          Registra a decisao manual de um relatorio PENDING: approved true vira APPROVED,
          false vira REJECTED. commentary e opcional. Vale uma vez por relatorio: num
          relatorio ja decidido a resposta e 400 "O relatório já foi analisado." (use
          re-analyze). Com credencial de API, a decisao fica assinada como "Usuário API".
          Dispara o webhook REPORT_STATUS.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/report/analyze' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"id":"6612a7f3a19b467000000000","approved":true,"commentary":"Aprovado após análise manual."}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/analyze", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "id": "6612a7f3a19b467000000000",
                  "approved": true,
                  "commentary": "Aprovado após análise manual."
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/report/analyze",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "id": "6612a7f3a19b467000000000",
                      "approved": True,
                      "commentary": "Aprovado após análise manual."
                  },
              )
              
              dados = resposta.json()
  /report/re-analyze:
    post:
      operationId: ReportController_reAnalyze
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ID do relatorio a re-analisar.
                approved:
                  type: boolean
                  description: 'Nova decisao: true aprova, false reprova.'
              required:
                - id
                - approved
            example:
              id: 6612a7f3a19b467000000000
              approved: false
      responses:
        '200':
          description: Relatorio atualizado com a nova analise.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: O relatorio com a decisao manual substituida.
              example:
                id: 6612a7f3a19b467000000000
                organizationId: 6612a7f3fa9e086b00000000
                policyId: 6612a7f3625ea4ab00000000
                analystId: 6612a7f3b4c5d6e700000000
                analystName: Maria Souza
                commentary: Aprovado após análise manual.
                previousAnalystId: 6612a7f3615ff3f200000000
                previousAnalystName: Usuário API
                status:
                  id: 6612a7f3410dcd8100000002
                  value: REJECTED
                previousStatus:
                  id: 6612a7f33fdd7d9400000000
                  title: Aprovado
                  value: APPROVED
                  color: '#74DA42'
                analyzedAt: '2026-08-01T10:12:40.110Z'
                previousAnalyzedAt: '2026-07-31T18:20:02.004Z'
        '400':
          description: 'Corpo sem id ou approved.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'id should not be empty,id must be a string,approved should not be empty,approved must be a boolean value'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Re-analisar relatorio
      description: |
          Troca a decisao de um relatorio e guarda a anterior em previousStatus,
          previousAnalystId, previousAnalystName e previousAnalyzedAt. So refaz quem esta
          na lista de quem pode editar relatorios da politica (por usuario ou papel); fora
          dela a resposta e 401 "Você não tem permissão para reanalisar esse relatório.".
          O campo commentary nao e alterado nesta rota.
          
          Util quando dados adicionais foram obtidos ou a decisao precisa ser revisada.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/report/re-analyze' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"id":"6612a7f3a19b467000000000","approved":false}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/report/re-analyze", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "id": "6612a7f3a19b467000000000",
                  "approved": false
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/report/re-analyze",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "id": "6612a7f3a19b467000000000",
                      "approved": False
                  },
              )
              
              dados = resposta.json()
  /credit-policy/policy:
    get:
      operationId: PolicyController_find
      parameters:
        - name: percentages
          required: false
          in: query
          description: 'true acrescenta percentages, a distribuicao dos resultados de cada politica.'
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
        - name: enabled
          required: false
          in: query
          description: 'true traz so as politicas habilitadas para a organizacao; false, so as desabilitadas.'
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
        - name: protected
          required: false
          in: query
          description: 'true inclui tambem as politicas protegidas, que nao pertencem a organizacao.'
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
        - name: usage
          required: false
          in: query
          description: 'REPORT (roda sozinha, inclusive em POST /v2/report) ou PIPELINE (so roda dentro de esteira).'
          schema:
            type: string
            enum:
              - REPORT
              - PIPELINE
        - name: includeUser
          required: false
          in: query
          description: 'true acrescenta user, com quem criou a politica.'
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
      responses:
        '200':
          description: 'Array de politicas com id, name, enabled, documentType, grupos de regras e configuracoes.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    reportType:
                      type: string
                    documentType:
                      type: string
                      enum:
                        - CNPJ
                        - CPF
                    bureauType:
                      type: string
                    hasSCR:
                      type: boolean
                    balanceRuleEnabled:
                      type: boolean
                    enabled:
                      type: boolean
                      description: Politica desabilitada nao pode ser executada.
                    usage:
                      type: string
                      enum:
                        - REPORT
                        - PIPELINE
                      description: So REPORT roda em POST /v2/report.
                    kind:
                      type: string
                      enum:
                        - BASE
                        - LAYER
                    version:
                      type: number
                    parecerEnabled:
                      type: boolean
                    integrationGroup:
                      type: object
                      nullable: true
                      additionalProperties: true
                    organizationId:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
              example:
                - id: 6612a7f3625ea4ab00000000
                  name: Crédito PJ Completo+
                  kind: BASE
                  usage: REPORT
                  reportType: CUSTOMER_GYRA_360_PLUS
                  documentType: CNPJ
                  bureauType: BOAVISTA
                  hasSCR: true
                  balanceRuleEnabled: false
                  version: 3
                  enabled: true
                  parecerEnabled: true
                  integrationGroup:
                    id: 6612a7f3ae25b13000000000
                    documentType: CNPJ
                    label: Completo+
                    name: CUSTOMER_GYRA_360_PLUS
                    hasParecer: true
                  organizationId: 6612a7f3fa9e086b00000000
                  createdAt: '2026-05-12T14:03:51.896Z'
        '400':
          description: 'usage fora de REPORT ou PIPELINE.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'usage must be one of the following values: REPORT, PIPELINE'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - credit-policy/policy
      security:
        - authorization: []
      summary: Listar politicas de credito
      description: |
          Lista as politicas de credito da organizacao.
          
          Cada politica define:
          - Quais fontes de dados consultar (bureau de credito, SCR/Open Finance, etc.)
          - Regras de aprovacao automatica (score, limites, restricoes)
          - Tipo de relatorio gerado (SIMPLES, ESSENCIAL, COMPLETO, COMPLETO+)
          - Grupos de regras com pesos e thresholds
          
          O policyId retornado e necessario para criar relatorios (create_report). Para
          a API, use uma politica com enabled true e usage REPORT.

          Filtros opcionais (valores como string):
          - enabled: true para ver apenas politicas habilitadas
          - usage: REPORT ou PIPELINE
          - protected: true para incluir politicas protegidas
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/credit-policy/policy' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/credit-policy/policy", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/credit-policy/policy",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /insight:
    post:
      operationId: InsightController_generateInsight
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sectionId:
                  type: string
                  description: ID da secao do relatorio para gerar o insight.
              required:
                - sectionId
            example:
              sectionId: 6612a7f3dc5b830500000000
      responses:
        '200':
          description: 'Texto gerado em output. Se a secao ja tinha um insight, devolve o mesmo texto sem gerar de novo.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  output:
                    type: string
              example:
                output: 'A empresa tem dois protestos recentes em São Paulo, somando R$ 5.850,33...'
        '400':
          description: 'Corpo sem sectionId, secao ainda nao finalizada ou plano sem o recurso.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'sectionId should not be empty,sectionId must be a string'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - insight
      summary: Gerar insight com IA para secao do relatorio
      description: |
          Gera uma analise automatica com IA para uma secao especifica de um relatorio.
          
          A IA analisa os dados da secao e produz um resumo interpretativo com
          pontos de atencao e recomendacoes. O insight e salvo como comentario
          na secao do relatorio.
          
          Requisitos (senao 400):
          - A secao deve estar finalizada (processamento completo)
          - A organizacao deve ter plano que suporte o recurso (nao disponivel em planos Trial ou Basic)
          
          Use get_report para obter os IDs das secoes disponiveis.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/insight' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"sectionId":"6612a7f3dc5b830500000000"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/insight", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "sectionId": "6612a7f3dc5b830500000000"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/insight",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "sectionId": "6612a7f3dc5b830500000000"
                  },
              )
              
              dados = resposta.json()
  /v2/report:
    post:
      operationId: ReportApiController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportDto'
            example:
              document: '11222333000181'
              policyId: 6612a7f3625ea4ab00000000
      responses:
        '200':
          description: Sucesso.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'O relatorio criado. O processamento e assincrono: acompanhe pelo webhook REPORT_FINISHED ou por GET /v2/report/{id}. Mesmo documento, politica, versao e dia devolvem o mesmo relatorio.'
              example:
                reportProgress:
                  steps:
                    - event: REPORT_CHECKING
                      message: Report sent to check the document.
                id: 6612a7f3a19b467000000000
                createdAt: '2026-07-31T13:42:37.059Z'
                updatedAt: '2026-07-31T13:42:37.059Z'
                document: '11222333000181'
                organizationId: 6612a7f3fa9e086b00000000
                customerId: 6612a7f388be48e900000000
                months: 12
                policyVersion: 3
                verified: false
                operationId: null
                operationResultId: null
                status:
                  id: 6612a7f3410dcd8100000000
                  value: PENDING
        '400':
          description: 'Corpo invalido: document com digito verificador invalido, policyId ausente, politica nao habilitada ou politica de esteira.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 400
                message: 'Você precisa inserir um CNPJ ou CPF válido.'
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Criar relatorio (API v2)
      description: |
          Cria a analise de um CPF ou CNPJ com a politica informada. Use para novas
          integracoes. Corpo: document (obrigatorio, digito verificador validado),
          policyId (obrigatorio, politica habilitada e de usage REPORT) e months (opcional).
          O campo type e ignorado: o tipo vem da politica.

          Mesmo documento, politica, versao da politica e dia: devolve o relatorio que ja
          existe (decidido, sem reprocessar; PENDING, com a coleta disparada de novo).

          Erros: 400 politica ausente, nao habilitada ou de esteira; 422 documento de tipo
          diferente do da politica; 503 com reportId quando o relatorio foi criado mas a
          analise nao foi enfileirada.
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request POST 'https://gyra-core.gyramais.com.br/v2/report' \
                --header 'Authorization: Bearer <token>' \
                --header 'Content-Type: application/json' \
                --data '{"document":"11222333000181","policyId":"6612a7f3625ea4ab00000000"}'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/v2/report", {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${token}`,
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  "document": "11222333000181",
                  "policyId": "6612a7f3625ea4ab00000000"
                }),
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.post(
                  "https://gyra-core.gyramais.com.br/v2/report",
                  headers={"Authorization": f"Bearer {token}"},
                  json={
                      "document": "11222333000181",
                      "policyId": "6612a7f3625ea4ab00000000"
                  },
              )
              
              dados = resposta.json()
  /v2/report/{id}:
    get:
      operationId: ReportApiController_get
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
          description: ID do relatorio.
      responses:
        '200':
          description: Sucesso.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'O relatorio com status, progresso e todas as secoes (com conteudo, pareceres e erros). O dicionario das secoes esta em /data/estrutura-relatorio.'
              example:
                id: 6612a7f3a19b467000000000
                createdAt: '2026-07-31T13:42:37.059Z'
                updatedAt: '2026-07-31T13:43:28.150Z'
                document: '11222333000181'
                yearMonthDay: 20260731
                policyId: 6612a7f3625ea4ab00000000
                policyVersion: 3
                policyName: Completo+
                organizationId: 6612a7f3fa9e086b00000000
                commentary: null
                userId: 6612a7f338154f0100000000
                status:
                  id: 6612a7f33fdd7d9400000000
                  value: APPROVED
                reportProgress:
                  isFinalized: true
                  finalizedAt: '2026-07-31T13:43:24.194Z'
                  steps: []
                analystId: null
                analystName: null
                sections:
                  - id: 6612a7f30a2c8b1a00000000
                    type:
                      id: 6612a7f3cd81d4f900000000
                      title: Sanções
                      value: SANCTIONS
                    comments: []
                    sectionDetails:
                      - values: {}
                        errors: []
                    parecer: Texto do parecer da seção...
                    parecerScore: 10
                    parecerRiskLevel: LOW
                    parecerStatus: DONE
                    parecerFeedback: null
                    errors: []
                verified: true
                exportUrl: null
                exportExcelUrl: null
                parecerEnabled: true
                committeeStatus: null
                committeeDecision: null
                committeeResult: null
        '404':
          description: Relatorio inexistente ou de outra organizacao.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 404
                message: Relatório não encontrado
        '401':
          description: 'Token ausente, expirado ou invalido. Gere outro em POST /auth/authenticate.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 401
                message: Token de acesso inválido.
        '403':
          description: O usuario autenticado nao tem a permissao exigida pela rota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 403
                message: Você não tem permissão para acessar este recurso.
        '500':
          description: 'Falha nossa. Tente de novo; se persistir, acione o suporte com o horario da chamada.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: 500
                message: Internal server error
      tags:
        - report
      security:
        - authorization: []
      summary: Consultar relatorio (API v2)
      description: |
          Retorna o relatorio completo: status (PENDING, APPROVED, REJECTED), progresso,
          politica, decisao manual, todas as secoes com conteudo e Parecer IA, e o resultado
          do Comite de Credito IA. Nao aceita filtros. Relatorio inexistente ou de outra
          organizacao responde 404 "Relatório não encontrado".
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
              curl --request GET 'https://gyra-core.gyramais.com.br/v2/report/6612a7f30000000000000001' \
                --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: Node
          source: |
              const resposta = await fetch("https://gyra-core.gyramais.com.br/v2/report/6612a7f30000000000000001", {
                method: "GET",
                headers: { Authorization: `Bearer ${token}` },
              });
              
              const dados = await resposta.json();
        - lang: Python
          label: Python
          source: |
              import requests
              
              resposta = requests.get(
                  "https://gyra-core.gyramais.com.br/v2/report/6612a7f30000000000000001",
                  headers={"Authorization": f"Bearer {token}"},
              )
              
              dados = resposta.json()
  /v1/registry:
    post:
      operationId: RegistryController_create
      summary: Criar (ou recuperar) o cadastro de um CNPJ/CPF
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryDto'
            example:
              document: 11.444.777/0001-61
              name: AURORA COMPONENTES INDUSTRIAIS LTDA
      responses:
        '201':
          description: 'Cadastro com id, document, entityType (COMPANY/PERSON), name, kycStatus e completeness.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
              example:
                id: 6612a7f30000000000000001
                document: '11444777000161'
                entityType: COMPANY
                name: AURORA COMPONENTES INDUSTRIAIS LTDA
                tradeName: AURORA
                legalNature: Sociedade Empresária Limitada
                kycStatus: PENDING
                kycRenewalDue: null
                completeness: 0
                documentsCount: 0
                pendingCount: 0
                reportId: null
                basicDataSyncedAt: '2026-09-05T12:58:10.000Z'
                crossDocument: null
                createdAt: '2026-09-05T12:58:10.000Z'
                updatedAt: '2026-09-05T12:58:10.000Z'
[...]
